body {
	margin: 0;
	color: white;
}

.app {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 100vh;
}

.server-list {
	width: 72px;
	background-color: rgb(32, 34, 37);
}

.channel-list {
	width: 240px;
	background-color: rgb(47, 49, 54);
}

.cur-channel {
	flex-grow: 2;
	background-color: rgb(54, 57, 63);
	flex-direction: column;
	display: flex;
}

.member-list {
	width: 240px;
	background-color: rgb(47, 49, 54);
}

.server-list-icon img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin: 12px;
	transition: border-radius ease 0.2s;
}

.server-list-icon img:hover {
	border-radius: 25%;
	transition: border-radius ease 0.2s;
}

.msg-cont {

}

.new-msg {
	margin: 1em;
	padding: 0px;
}

.new-msg input {
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 15px;
	border: none;
}

input:focus {
	outline: none;
}

.standalone-cont {
	width: 100vw;
	height: 100vh;
	background-color: rgb(47, 49, 54);
}

.standalone-main {
	width: 40vw;
	height: 40vh;
	background-color: rgb(32, 34, 37);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 25px;
}

.standalone-main input[type="text"], .standalone-main input[type="password"], .standalone-main input[type="email"]{
	width: 30vw;
	margin: 10px 5vw;
	height: 30px;
}

.standalone-main input[type="submit"] {
	float: right;
	margin-right: 5vw;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
